---
import { Image } from 'astro:assets'
import Code from '@components/icons/code.astro'

const PROJECTS = [
    {
        title: 'Checkauto',
        description: 'Subasta tu coche entre m치s de 25 concesionarios cerca de ti en 24h.',
        link: 'https://checkauto.es',
        image: './images/checkauto.webp',
        tags: ['React', 'ExpressJS', 'AWS']
    },
    {
        title: 'Carways',
        description: 'Concesionario de coches de ocasi칩n en Viladecans.',
        link: 'https://carwaysmobility.es',
        image: './images/carways.webp',
        tags: ['React', 'ExpressJS', 'Nginx']
    },
    {
        title: 'Ana Almazo',
        description: 'P치gina personal de mi amiga psic칩loga Ana Almazo',
        link: 'https://anaalmazo.juanjodevs.com',
        image: './images/anaalmazo.png',
        tags: ['Astro', 'Tailwind']
    },
    {
        title: 'Yet another Spotify clone',
        description: 'Clon de Spotify para probar principalmente las view transitions de Astro',
        link: 'https://yasc.juanjodevs.com',
        image: './images/yasc.png',
        tags: ['Astro', 'Tailwind']
    },
    {
        title: 'Yet another X clone',
        description: 'Clon de X para probar NextJS y Supabase como objetivo principal',
        link: 'https://yaxc.juanjodevs.com',
        image: './images/yaxc.webp',
        tags: ['NextJS', 'Tailwind', 'Supabase']
    }
]

const COLORS = [ 'bg-teal-500 bg-teal-800', 'bg-yellow-500 bg-yellow-800', 'bg-purple-500 bg-purple-800']

// Recipe from Astro docs -> https://docs.astro.build/en/recipes/dynamically-importing-images/
const images = import.meta.glob<{ default: ImageMetadata }>('./images/*')

---
<div id="projects">
    <p class="flex gap-2 font-bold mb-5 mt-10"><Code/>Proyectos</p>
    <div class="flex flex-col gap-5">
        {
            PROJECTS.map((project, index) => (
                <a href={project.link} target="_blank" class={`flex ${index % 2 === 0 ? 'lg:flex-row flex-col' : 'lg:flex-row-reverse flex-col'} border border-teal-500 rounded hover:shadow-xl hover:bg-teal-500 hover:bg-opacity-20 hover:cursor-pointer`}>
                    <div class="basis-1/2 flex">
                        <Image src={images[project.image]()} alt={project.image} class="object-cover"/>
                    </div>
                    <div class="flex flex-col basis-1/2">
                        <div class="text-center text-teal-500 font-bold py-2">{project.title}</div>
                        <div class="p-2 lg:p-5 text-sm">{project.description}</div>
                        <div class="p-2 lg:p-5">
                            {
                                project.tags.map((tag, index) => (
                                    <span class={`${COLORS[index]} text-xs font-medium me-2 px-2.5 py-0.5 rounded`}>{tag}</span>
                                ))
                            }
                        </div>
                    </div>
                </a>
            ))
        }
    </div>
</div>